/* CUSTOM STYLES */
input {
  border-radius: 5px;
  margin-bottom: 5px;
}
label {
  margin-right: 10px;
}
nav {
  background-color: white;
  border-bottom: 1px solid black;
  /*height: 50px;*/
  /*padding: 10px 0;*/
  /*text-align: right;*/
}
nav a {
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}
nav a:hover {
  color: rgb(85,119,187);
  text-decoration: none;
}
.ambassador-contact-btn {
  font-size: 12px;
  height: 30px;
  width: 105px;
}
.btn {
  background-color: rgb(85,119,187);
  border-color: rgb(85,119,187);
}
.footer {
  background-color: white;
  border-top: 1px solid black;
  bottom: 0;
  height: 25px;
  position: fixed;
  text-align: center;
  width: 100%;
}
.footer-text {
  color: rgb(85,119,187);
  cursor: default;
  font-size: 11px;
}
.logo {
  height: 55px;
  /*float: left;*/
  width: 55px;
}
.nav-link {
  display: block;
  float: right;
  /*text-align: right;*/
}
.profile-paragraph {
  margin-left: 10px;
}
.role-button {
  margin: 10px;
}

/* DEFAULT STYLES */
/*.App {
  text-align: center;
}*/

.App-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
