/* CUSTOM STYLES */
input {
  border-radius: 5px;
  margin-bottom: 5px;
}
label {
  margin-right: 10px;
}
nav {
  background-color: white;
  border-bottom: 1px solid black;
}
nav a {
  color: black;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}
nav a:hover {
  color: rgb(85,119,187);
  text-decoration: none;
}
.active {
  color: rgb(85,119,187);
}
.ambassador-contact-btn {
  font-size: 12px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  width: 80%;
}
.App-header {
  background-color: #222;
  color: white;
  height: 150px;
  padding: 20px;
}
.benefits-icon {
  color: rgb(85,119,187);
  font-size: 20px;
}
.benefits-list {
  margin-left:20px;
}
.benefits-list-item {
  font-size: 20px;
}
.benefits-list-item-icon {
  text-align: center;
}
.btn {
  background-color: rgb(85,119,187);
  border-color: rgb(85,119,187);
}
.card {
  border-radius: 5px;
  margin-bottom: 15px;
}
.card-text {
  color: #8F9193;
}
.card-title {
  font-size: 22px;
}
.home-jumbotron {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  margin-bottom: 17px;
}
.logo {
  height: 55px;
  width: 55px;
}
.nav-item {
  display: inline;
  padding-bottom: 13px;
}
.nav-item .active {
  border-bottom: 5px solid rgb(85,119,187);
  padding-bottom: 13px;
}
.nav-link {
  padding-top: 20px;
}
.nav-list {
  list-style-type: none;
  margin-bottom: 0;
}
.profile-paragraph {
  margin-left: 10px;
}
.registration-input-group {
  width: 70%;
}
.role-button {
  margin: 10px;
}
.splash-area {
  background: linear-gradient(to right, #FFFFFF, #FFFFFF 1%, transparent), url('../img/ambassador_background_image_cropped.png');
  filter: alpha(opacity=20);
  height: 350px;
  opacity: 0.5;
  position: absolute;
  width: 77%;
}